<table class="table caption-top">
  <caption>
  </caption>
  <thead>
    <tr >
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Post</th>
      <th scope="col" colspan="4">Deleted At</th>
    </tr>
  </thead>
  <tbody>
    {{#each posts}}
    <tr>
      <th scope="row">{{sum @index 1 }}</th>
      <td>{{ this.title }}</td>
      <td>{{ this.post }}</td>
      <td>{{ this.deletedAt }}</td>
      <td>
        <a class="recover-button" data-whatever="{{this._id}}">Recover</a>
      </td>
      <td>
        <a href="#" data-toggle="modal" data-target="#delete" data-whatever="{{this._id}}">Delete</a>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>
<!-- Modal confirm to delete  -->
<div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title mx-auto" id="exampleModalLabel">U SURE?</h5>
        <button type="button" class="close ml-0" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      To confirm 'YES' button bellow here, you will NOT recover it.
      </div>
      <div class="modal-footer">
        <button type="button" id="button-delete" class="btn btn-danger">Yes</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>
<form id="formsp" action=""></form>
<script>
  window.addEventListener("DOMContentLoaded", (e)=>{
    e.preventDefault()
    var postId;
    let recoverBtn = $$(".recover-button")
    var buttonDel = document.getElementById('button-delete');
    var formSupport = document.getElementById('formsp');
    for (let i=0; i < recoverBtn.length; i++){
      recoverBtn[i].onclick = (e)=>{
        postId = recoverBtn[i].dataset.whatever
        formSupport.method = "POST";
        formSupport.action = `/news/${postId}?_method=PATCH`
        formSupport.submit()
      }
    } 
    jQuery('#delete').on('shown.bs.modal', function (event) {
      postId = event.relatedTarget.dataset.whatever
      buttonDel.onclick = ()=>{
        formSupport.method = 'POST';
        formSupport.action = `/news/${postId}?_method=DELETE`
        formSupport.submit()
      }
    });
  })
</script>