<div class="">

  <table class="table caption-top">
    <caption>
    </caption>
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Post</th>
        <th scope="col" colspan="4">Last Update</th>
      </tr>
    </thead>
    <tbody>
      {{#each values}}
      <tr>
        <td scope="row">{{sum @index 1 }}</td>
        <td>{{ this.title }}</td>
        <td>{{ this.post }}</td>
        <td>{{ this.updatedAt }}</td>
        <td>
          <a href="{{this._id}}/edit">Edit</a>
        </td>
        <td>
          <a href="#" class="delete-btn" data-toggle="modal" data-target="#delete" data-whatever="{{this._id}}" >Remove</a>
        </td>
      </tr>
      {{else}}
      <td>
        <h2 class="text-center">
          It's seem notthing here
          <a href="/news/create">Create here</a>
        </h2>
      </td>
      {{/each}}
    </tbody>
  </table>
</div>
<!-- Modal confirm to delete  -->
<form id="formsp" action=""></form>
<script>
  window.addEventListener("DOMContentLoaded", (e)=>{
    e.preventDefault()
    var postId;
    var formSupport = document.getElementById('formsp');
    jQuery('.delete-btn').click(function (event) {
      postId = event.target.dataset.whatever
      formSupport.method = 'POST';
      formSupport.action = `/news/${postId}?_method=DELETE`
      formSupport.submit()
      }
    )
    });
</script>